* {
  margin:0;
  padding:0;
  box-sizing:border-box;
}

input {
  position:absolute;
  width:calc(100% - 10px);
  padding:10px;
  margin:10px;
  z-index:1;
}

#canvas1 {
  background: black;
  position:absolute;
  top: 0;
  left:0;
}